<div class="test">
  <h3>Component Home </h3>

  <!-- <div *ngFor="let fruit of fruits; let i = index">
    <li>{{i+1}}. {{fruit}}</li>

  </div> -->

  <!-- <table class="table">
    <tr>
      <th>Numero</th>
      <th>Fruit Name</th>
      <th>Price</th>
      <th>Promotion</th>
    </tr>
    <tr *ngFor="let fruit of fruits2; let i = index">
      <td>{{i+1}}</td>
      <td>{{fruit.fruitName}}</td>
      <td class="center">
        <span [ngClass]="{'negative-price':fruit.price < 0}">{{fruit.price | currency:'EUR':'symbol':'1.2'}}</span>
      </td>
      <td class="center">
        <!-- *ngIf = "fruit.promotion" -->
        <!-- <span >{{fruit.promotion | onSales | uppercase }}</span>    </td>
    </tr>
  </table> -->
  City:
  <select id="city" (change)="changeCity($event)">
    <option *ngFor="let data of vietnamData" value="{{data.city}}">{{data.city}}</option>
  </select>
<br>
District:
<select id="district">
  <option *ngFor="let district of districts" value="">{{district}}</option>
</select>

<span> Counter = {{counterHome}}</span>
<br>
<span> Counter Power = {{counterPower}}</span>
</div>

