<div class="test">
  <h3>Component Home </h3>

  <div *ngFor="let fruit of fruits; let i = index">
    <li>{{i+1}}. {{fruit}}</li>

  </div>

  <table class="table">
    <tr>
      <th>Numero</th>
      <th>Fruit Name</th>
      <th>Price</th>
      <th>Promotion</th>
    </tr>
    <tr *ngFor="let fruit of fruits2; let i = index">
      <td>{{i+1}}</td>
      <td>{{fruit.fruitName}}</td>
      <td class="center">
        <span [ngClass]="{'negative-price':fruit.price < 0}">{{fruit.price}}</span>
      </td>
      <td class="center">
        <span *ngIf = "fruit.promotion">On Sales!</span>    </td>
    </tr>

  </table>

</div>

